---
name: Sanity

on:
  push:
    branches:
      - main
  schedule:
    - cron: "5 12 * * *"
  pull_request:
  workflow_call:
  workflow_dispatch:

jobs:
  sanity:
    name: Sanity (${{ matrix.ansible }})
    runs-on: ubuntu-20.04
    defaults:
      run:
        working-directory: ansible_collections/vultr/cloud
    strategy:
      matrix:
        ansible:
          - stable-2.12
          - stable-2.13
          - stable-2.14
          - devel
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          path: ansible_collections/vultr/cloud

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install ansible-base (${{ matrix.ansible }})
        run: pip install https://github.com/ansible/ansible/archive/${{ matrix.ansible }}.tar.gz --disable-pip-version-check

      - name: Run sanity tests
        run: ansible-test sanity --docker -v --color
